div {
    height: 200px;
    width: 500px;
    background-color: orchid;

    /* border-width: 5px;
    border-style:solid;
    border-color: black; */

    border: 4px solid black;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: 25px;
}

h1 {
    /* width:250px; */
    border-top:2px dashed firebrick;
    border-bottom:2px dashed firebrick;
    border-left: 3px solid black;
    border-right: 3px solid black;
    
}

button {
    border: 2px solid black;
    border-radius: 10px;
   /* padding: 20px;      */                      /* for all four  sides */
/*   padding: 1px 30px 1px 40px; */             /* clockwise padding*/
   padding-left: 25px;
    padding-right: 25px;
    background-color: aqua;
}