h1 {
    border: 2px solid black;
    width: 33.33% ;
}

#outer {
    height: 400px;
    width: 400px;
    background-color: pink;
    margin: 50px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: cornflowerblue;
    margin-left: 10%;
}

/*---------------------------------------------------------------*/
 
#OUTER {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    background-color: pink;
}

#INNER {
    height: 100px;
    width: 100px;
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
}