section {
    margin-top: 100px;
}

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #ccfcc6;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n) {
     background-color: #f7db6a;
}

div:nth-of-type(3n) {
     background-color: #0bccccec;
}


/* transform property ( rotate,scale,translate,skew) */

#one {
    transform: rotate(45deg);
}

#two {
    transform: scale(0.5);
} 

#three {
    transform: translateX(100px);
}

#four {
    transform: skew(30deg);
}

#five {
    transform: rotate(35deg) scale(1.1) translate(100px) skew(30deg);
}

#forBackground {
    /* background-color: rgba(136, 60, 89, 0.774); */
    height: 700px;
    width: 1300px;
    background-image:url(Bgimage.png);                             /*----- USE OF IMAGE -----*/
    background-size: cover;
}


 /* -------------------------------------------------------------------------------------- */


 #ForBoxShadow {
     width: 200px;
    height: 50px;
    text-align: center;
    background-color: #ccfcc6;
    border: 2px solid black;
    margin: 10px auto;
    box-shadow: 2px 2px 8px red;
 }
 