.face {
    height: 400px;
    width: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left, .right {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right {
    left: 250px;
}