.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;                            /* default -> Columnwise */
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px;          /* how many time (auto) same parts devide */
 }

.item {
    /* width: 100px;
    height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}