/* div {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0, 0.2);
    background-color: #ff0000ff;                     /* alpha channel */ 
/* }

#opacity {
    background-color: yellowgreen;
    opacity: 0.5;                                /* opacity whole effect dalta hai 
} */ 

div {
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;

    /* transition: 1s;
    transition-duration: 1s;
    transition-delay: 1s; */

    margin: 0 auto;
    margin-top: 50px;
    transition: margin-top 2s ease-in 0.2s;

}

div:hover {
    /* background-color: black; */
    /* border-radius: 50%; */

    margin-top: 400px;
    background-color: pink;

    
}