#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;                      /* for fitting the all thing in container (by default row wise ) */
    /* flex-direction: column; */
    flex-direction: row;
     /* flex-direction: row-reverse; */

     justify-content: flex-start;          /*(row column ke according start jo set kiya jaye) */
     /* justify-content: flex-end; */
     /* justify-content:center; */
     /* justify-content:space-between; */
     /* justify-content: space-around; */
     /* justify-content: space-evenly; */

                               /* flex-wrap for adjust any size in the container */
     flex-wrap: nowrap;
     /* flex-wrap: wrap; */
     /* flex-wrap: wrap-reverse; */

     /* align-items: flex-end; */
     /* align-items: flex-start; */
     /* align-items: baseline; */

     align-content: flex-start;
     /* align-content: flex-end;
     align-content: center; */
}

h1 {
    text-align: center;
}

#container div {
    height: 100px;
    /* height: 50px;                           this is for align-items */
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}