
 h1{
    background-color: lightcoral;
    border: 2px solid black;
 }

 @media(width: 400px) {
    h1 {
        background-color: red;
        color: white;
    }
    div {
        height: 100px;
        width: 100px;
        background-color: burlywood;
    }
 }

 @media (min-width:700px) {
    h1 {
        background-color: mediumspringgreen;
    }
 }
 
 @media(max-width: 200px) {
    h1 {
        background-color: pink;
    }
 }

 @media(min-width:200px) and (max-width:300px) {
    h1{
        background-color: blueviolet;
    }
 }